*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    min-height: 100vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background: orange;
}

.wrapper
{
    background: #fff;
    width: 770px;
    padding: 35px;
    margin-top: 40vh;
    border-radius: 10px;
   box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solod #989494;

}
.content-box .content

{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    align-items:center;
    justify-content: space-between;
    border: 1px solod #694949;
}
.content-box .result-details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 140px);
}
.result-details li
{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}
.content button{
    outline: none;
    border: none;
    color: #fff;
    background: orange;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    width: 105px;
}
.content button:active
{
    transform: scale(0.96);
}
.typing-text p span 
{
    position: relative;
}
.typing-text p span.active
{
    color: orange;
}

.typing-text p span.correct
{
    color: green;
}
.typing-text p span.incorrect
{
    color: red;
}
::selection
{
    color: #fff;
    background: rgb(192, 157, 92);
}

.wrapper .typing-field 
{
    padding: 13px 20px 0;
    position: absolute;
}